In [73]:
import pandas as pd
import random

In [2]:
vocab_df = pd.read_csv('./data/spanish_vocab.csv')

In [3]:
vocab_df.head(2)

   Unnamed: 0 Spanish in English
0           1    como         as
1           2       I          I

In [62]:
english_word = vocab_df.sample(n=1)

english_word_str = english_word.item().upper()

english_loc = english_word.index.item()

spanish_correct = vocab_df['Spanish'][english_loc]

AttributeError: 'DataFrame' object has no attribute 'item'

In [59]:
spanish_rand1 = vocab_df['Spanish'].sample(n=1).item()
spanish_rand2 = vocab_df['Spanish'].sample(n=1).item()

In [60]:
spanish_correct

'arte'

In [61]:
english_word_str

'ART'

In [67]:
english_word = vocab_df.sample(n=1)

In [68]:
correct_spanish = english_word['Spanish'].item()

In [69]:
english_word

     Unnamed: 0    Spanish in English
382         383  comprobar      check

In [80]:
button_messages

['comprobar', 'seguro', 'cuello']

In [81]:
button_messages = [correct_spanish, spanish_rand1, spanish_rand2]
random.shuffle(button_messages)

In [82]:
button_messages

['seguro', 'comprobar', 'cuello']

579    job
Name: in English, dtype: object